@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: all 400ms ease;
}
:root{
  --btn-main: #5E8EF8;
  --btn-sec: #38E889;
  --div-color: #EEEEEE;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.ctn{
  padding: 0.3rem 1rem 0.3rem 1rem;
  background-color: var(--btn-main);
  border: none;
  border-radius: 0.5rem;
  color: white;
  
}